body {
  background: gray;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.container {
  padding: 200px;
  text-align: center;
}

h1 {
  font-style: italic;
  font-size: 100px;
}

#resetbutton {
  visibility: hidden;
}
